* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  --bg-color: #113344;
  --input-header-color: rgba(255, 255, 255, 0.8);
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/noon-bg-img.jpg");
  display: flex;
  justify-content: flex-start;
  padding: 5rem;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

#search-container {
  padding: 3rem;
  padding-left: 7rem;
  padding-right: 7rem;
  border-radius: 9px;
  background-color: rgba(0, 0, 0, 0.1);
}

#search-container > * {
  padding: 0.5rem;
}

#search-bar {
  border-radius: 100px;
}

#search-btn {
  border-radius: 9px;
  padding: 0.3rem;
}

#search-container > img {
  display: flex;
  justify-self: center;
  align-self: flex-end;
  padding-bottom: 1.5rem;
}

.error-message {
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

:hidden {
  display: none;
}
